doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no')
    meta(name='google-site-verification' content='LaZk8I3l9TMRMSiWJMDg-NiRL41wwTqnR0v3eTd0TZI')
    title= title
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='/css/project.css')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Josefin+Sans:100italic,100,300italic,300,400italic,400,600italic,600,700italic,700')
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat')
      link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
    block js
      script(src='components/jquery/dist/jquery.min.js')
      script(src='components/isotope/dist/isotope.pkgd.min.js')
      script(src='components/isotope-packery/packery-mode.pkgd.min.js')
      script(src='components/jquery-fittext/jquery.fittext.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.18/paper-full.min.js')      
      script(src='http://localhost:35729/livereload.js')
      script(src='js/main.js')
      if page == 'portfolio' || page == 'projects'
        script(src='js/colors.js')      
      if page == 'contact'
        script(src='js/envelopes.js' type='text/paperscript' canvas='envelopes')
      script.
        window.analytics=window.analytics||[],window.analytics.methods=["identify","group","track","page","pageview","alias","ready","on","once","off","trackLink","trackForm","trackClick","trackSubmit"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var key=window.analytics.methods[i];window.analytics[key]=window.analytics.factory(key)}window.analytics.load=function(t){if(!document.getElementById("analytics-js")){var a=document.createElement("script");a.type="text/javascript",a.id="analytics-js",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.io/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)}},window.analytics.SNIPPET_VERSION="2.0.9",
        window.analytics.load("6hpui6ably");
        window.analytics.page();
  if page == 'portfolio' || page == 'projects'
    body(class="portfolio")
  body
    block content