extends layout

block content
	div.main
		include header
	div.portfolio
		h2 Portfolio
		h3.mobile-only
			|Filter by
		div.portfolio-filters
			button(data-filter="*" class="filter-select selected") Everything
			button(data-filter=".commission" class="filter-select") Commissions
			button(data-filter=".app" class="filter-select") Apps
			button(data-filter=".experiment" class="filter-select") Experiments
		h3.mobile-only
			|Tap to expand boxes
		div.portfolio-container
			each site in sites
				div.box(class="#{site.type} #{site.name}")
					div.box-content
						img(src="img/#{site.image}")
						div.extended-desc
							|<b>#{site.name}</b>
							p!= site.extended_desc
						div.buttons
							if site.github
								a(href="#{site.github}" target="_blank")
									button(class='github') <i class="fa fa-github"></i> Github repo
								a(href="#{site.link}" target="_blank")
									button(class='site-link second') <i class="fa fa-link"></i> Website
							else
								a(href="#{site.link}" target="_blank")
									button(class='site-link solo') <i class="fa fa-link"></i> Website