extends layout

block content
	div.main
		include header
	div.portfolio
		h3.mobile-only
			|Filter by
		div.portfolio-filters
			button(data-filter="*" class="filter-select selected") Everything
			each type in types
				button(data-filter=".#{type._id}" class="filter-select selected") #{type.name}				
		h3.mobile-only
			|Tap to expand boxes
		div.portfolio-container
			each project in projects
				div.box(class="#{project.type} #{project.name}")
					a(href="/projects/#{project.slug}")
						img(src="#{project._.image.thumbnail(300,300)}")
					div.extended-desc
						|<b>#{project.name}</b>
						p!= project.extended_desc
					div.buttons
						if project.github
							a(href="#{project.github}" target="_blank")
								button(class='github') <i class="fa fa-github"></i> Github repo
							a(href="/projects/#{project.slug}")
								button(class='site-link second') <i class="fa fa-link"></i> View project
						else
							a(href="/projects/#{project.slug}")
								button(class='site-link solo') <i class="fa fa-link"></i> View project